<div class="l-content">

	<div class="pure-menu pure-menu-open pure-menu-horizontal betstatsdiv">
		<ul class="quotestats">
		  <li>
		    <h2>{{quote.ticker}}</h2>
		    <h5>{{bet.rule}}</h5>
		    <h5>{{bet.bets.length}} participants</h5>
		  </li>
		  <li>
		    <span>Name and Market</span>
		    <dl>
		      <dt>Name</dt>
		      <dd>{{quote.name}}</dd>
		      <dt>Exchange</dt>
		      <dd>{{quote.exchange}}</dd>
		    </dl>
		  </li>
		  <li>
		    <span>Market Value</span>
		    <dl>
		      <dt>Market Cap</dt>
		      <dd>{{quote.marketcap}}</dd>
		      <dt>Latest Price</dt>
		      <dd>{{quote.price}}</dd>
		      <dt>P/E</dt>
		      <dd>{{quote.pe}}</dd>
		    </dl>
		  </li>
		  <li>
		    <span>Trading Stats</span>
		    <dl>
		      <dt>52 Week High</dt>
		      <dd>{{quote.52high}}</dd>
		      <dt>52 Week Low</dt>
		      <dd>{{quote.52low}}</dd>
		      <dt>Volume</dt>
		      <dd>Above Average</dd>
		    </dl>
		  </li>
	  </ul>
	</div>

	<div class="chartDiv">
		<h3>2014 Chart</h3>
		 <bars-chart chart-data="myData"></bars-chart>
		<div id='chart'>
			<svg style='height:500px'> </svg>
		</div>
		<!--
		<script>
		d3.json('data/cumulativeLineData.json', function(data) {

		  	nv.addGraph(function() {  
				var chart = nv.models.lineChart();

				chart.xAxis
				.axisLabel('Time (ms)')
				.tickFormat(d3.format(',r'));

				chart.yAxis
				.axisLabel('Voltage (v)')
				.tickFormat(d3.format('.02f'));

				d3.select('#chart svg')
				.datum(sinAndCos())
				.transition().duration(500)
				.call(chart);

				nv.utils.windowResize(function() { d3.select('#chart svg').call(chart) });

				return chart;
 			});
		});



		function sinAndCos() {
		   	var sin = [],
		        cos = [];
		 
		   	for (var i = 0; i < 100; i++) {
			    sin.push({x: i, y: Math.sin(i/10)});
			    cos.push({x: i, y: .5 * Math.cos(i/10)});
		   	}
		 
		   return [
		    {
		       values: sin,
		       key: 'Sine Wave',
		       color: '#ff7f0e'
		    },
		    {
		       values: cos,
		       key: 'Cosine Wave',
		    	color: '#2ca02c'
		   	}
		    ];
		}
		</script>-->
	</div>

</div>
