<div class="l-content">

	<div class="back-button">
	<a href="#/home">&#8592	 Back</a>
	</div>

	<div class="stockdetails pure-g-r">
        <div class="pure-u-1-2">
            <a href="#/home">
	            <div class="l-box">
	                <div class="bet-table-header">
	                    <h2>{{ bet.ticker }}</h2>

	                    <span class="bet-table-price">
	                        {{ bet.price }} <span> {{ bet.rule }}</span>
	                    </span>
	                </div>
	            </div>
            </a>
        </div>
        <div class="pure-u-1-2">
            <div class="l-box">
                <h3 class="information-head">Bet Modifications</h3>
				<table class="pure-table trades-table">
				    <thead>
				        <tr>
				            <th></th>
				            <th ng-repeat="player in bet.bets">{{ player.name }}</th>
				        </tr>
				    </thead>

				    <tbody>
				        <tr class="pure-table-odd">
				            <td>Current</td>
				            <td ng-repeat="player in bet.bets">{{ player.price }}</td>
				        </tr>
				        <tr ng-repeat="line in history">
				            <td>Old</td>
				            <td ng-repeat="old in line track by old.name">{{ old.value }}</td>
				        </tr>
				    </tbody>
				</table>
            </div>
        </div>
    </div> 


	<div class="chartDiv">
		<h3>2014 Chart</h3>
		<stock-chart chart-data="myData"></stock-chart>
		<div id='chart'>
			<svg style='height:500px'> </svg>
		</div>
	</div>

</div>
