<div class="l-content">
    <div class="title">
        <h3>Select a Portfolio</h3>
    </div>

    <div class="bet-tables pure-g-r">
        <!-- lists all players in order -->
        <div class="pure-u-1-3" ng-repeat="player in players">
            <a href="#/portfolio/{{player.name}}">
                <div class="bet-table">
                    <div class="bet-table-header">
                        <h2>{{ player.name }}</h2>

                        <span class="bet-table-price">
                            {{ player.performance }}
                        </span>
                    </div>

                    <ul class="bet-table-list">
                        <!-- sorted by performance-->
                        <li ng-repeat="ticker in player.tickers track by ticker.ticker">
                        <!-- color accd to performance -->
                        <a href="#/quote/{{ ticker.ticker }}" ng-style="{color: ticker.color}">
                        {{ ticker.ticker }} - {{ ticker.performance }}
                        </a>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </div> 

</div>