<div class="l-content">
	<div class="queryDiv">
		<!--Search query content-->
		<p>Search from NYSE, NASDAQ, TSX by ticker only</p>

		Ticker: <input ng-model="query" ng-change="getStock(query)" id="searchField">
		<p class="searchResultDescription" ng-show="!quote.price && query">Not found</p>
	</div>

	<div ng-show="quote.price">
		<div class="stockdetails pure-g-r">
	        <div class="pure-u-1-4">
	            <div class="l-box">
	                <div class="bet-table-header">
	                    <h2>{{ quote.ticker }}</h2>

	                    <span class="bet-table-price">
	                        {{ quote.price }}
	                    </span>
	                </div>
	            </div>
	        </div>
	        <div class="pure-u-1-4">
	            <div class="l-box">
	                <h3 class="information-head">Stock</h3>
				    <dl>
					      <dt>Name</dt>
					      <dd>{{quote.name}}</dd>
					      <dt>Exchange</dt>
					      <dd>{{quote.exchange}}</dd>
				    </dl>
	            </div>
	        </div>
	        <div class="pure-u-1-4">
	            <div class="l-box">
	                <h3 class="information-head">Value</h3>
				    <dl>
				      <dt>Market Cap</dt>
				      <dd>{{quote.marketcap}}</dd>
				      <dt>Latest Price</dt>
				      <dd>{{quote.price}}</dd>
				      <dt>P/E</dt>
				      <dd>{{quote.pe}}</dd>
				    </dl>
	            </div>
	        </div>

	        <div class="pure-u-1-4">
	            <div class="l-box">
	                <h3 class="information-head">Stats</h3>
				    <dl>
				      <dt>52 Week High</dt>
				      <dd>{{quote.52high}}</dd>
				      <dt>52 Week Low</dt>
				      <dd>{{quote.52low}}</dd>
				      <dt>Volume</dt>
				      <dd>Above Average</dd>
				    </dl>
	            </div>
	        </div>	
	    </div> 
	</div>		


	<div class="chartDiv">
		<h3>2014 Chart</h3>
		<stock-chart chart-data="myData"></stock-chart>
		<div id='chart'>
			<svg style='height:500px'> </svg>
		</div>
	</div>
</div>