<div class="l-content">
	<div class="top">
		<div class="queryDiv">
			<!--Search query content-->
			<p>Search from NYSE, NASDAQ, TSX by ticker only</p>

			Ticker: <input ng-model="query" ng-change="getStock(query)" id="searchField">
		</div>

		<div class="stockInfo">
			<!--Found stock panel-->
			    <div class="bet-table-header">
                    <h2>{{ quote.ticker }}</h2>

                    <span class="bet-table-price">
                        {{ quote.price }}
                    </span>
                </div>
		</div>

	</div>

	<div class="chartDiv">
		<h3>2014 Chart</h3>
		<stock-chart chart-data="myData"></stock-chart>
		<div id='chart'>
			<svg style='height:500px'> </svg>
		</div>
	</div>
</div>