<div class="l-content">
	<div class="top">
		<div class="queryDiv">
			<!--Search query content-->
			<p>Search from NYSE, NASDAQ, TSX by ticker only</p>

			Search: <input ng-model="query" ng-change="getStock(query)" id="searchField">
		</div>

		<div class="stockInfo">
			<!--Found stock panel-->
			    <div class="bet-table-header">
                    <h2>{{ quote.ticker }}</h2>

                    <span class="bet-table-price">
                        {{ quote.price }}
                    </span>
                </div>
		</div>

	</div>

	<div class="chartDiv">
		<!--d3.js chart-->
  		<script src="lib/d3/d3.v3.js"></script>
	</div>


</div>