<!doctype html>
<html lang="en" ng-app="betty">
<head>    
    <meta charset="utf-8">
    <title>2014 Stock Bets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/lib/pure/pure.css">
    <link rel="stylesheet" href="static/lib/nvd3/nv.d3.css">
    <link rel="stylesheet" href="static/css/app.css">

<!--to be minified -->
    <script src="static/lib/jquery/jquery-1.10.2.js"></script>
    <script src="static/lib/angular/angular.js"></script>
    <script src="static/lib/angular/angular-resource.js"></script>
    <script src="static/lib/angular/angular-route.js"></script>
    <script src="static/lib/d3/d3.v3.js"></script>
    <script src="static/lib/nvd3/nv.d3.js"></script>

    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/directives.js"></script>
</head>

<body>

<header>
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a href="#" class="pure-menu-heading">2014 Bet Tracker</a>
        <ul>
            <li class=""><a href="#/standings" active-link="pure-menu-selected">Standings</a></li>
            <li class=""><a href="#/portfolio" active-link="pure-menu-selected">Portfolio</a></li>
            <li class=""><a href="#/quote" active-link="pure-menu-selected">Quote</a></li>
        </ul>
    </div>
</header>

<div class="view-container">
    <div ng-view class="view-frame"></div>
</div>

<div class="footer">
    <p class="l-box">
        By <a href="https://twitter.com/geoffmacdona">GeoffMacd</a>  
        <span><a href="https://docs.google.com/spreadsheet/pub?key=0Auni2WTJBOAfdFVXSUI0dEY2NXdzTENldnExdVNqeGc&single=true&gid=0&output=html">See Alex's Spreadsheet</a></span>
    </p>
</div>

</body>
</html>
