.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.graph {
  margin: 10% 15% 10% 15%;
  border: 2px solid #ccc;
  background-color: white;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f7fd
}

.legend {
  border: 2px solid #ccc;
}
.box {
  height:  100%
  width: 30px;
  background-color: blue; 
}
.legendName {
  font-size: 18;

}


/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-gold .pricing-table-header {
    background: #d6b400;
}

.pricing-table-oil .pricing-table-header {
    background: #333;
}
.pricing-table-usdcad .pricing-table-header {
    background: #1919ff;
}
.pricing-table-tsx .pricing-table-header {
    background: #ae041b;
}
.pricing-table-nasdaq .pricing-table-header {
    background: #298581;
}
.pricing-table-dow .pricing-table-header {
    background: #519251;
}
